body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color :rgb(255, 255, 255)
}

header {
    background: #c0eed2b6;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
    text-decoration:underline rgb(255, 255, 255);
    background:url(https://media.istockphoto.com/id/465559373/photo/old-wood-background.jpg?s=612x612&w=0&k=20&c=mQ5fJU_4IwgCB8VK6g551yNVzsQJn7ZYpI8Ua6TeC0I=)
}
header h2{text-decoration: underline rgb(216, 216,216);}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(130, 253, 130);
    text-decoration:underline rgb(130, 253, 130) solid;
}

main {
    padding: 20px;
}
main section h2{ color: rgb(255, 255, 255);}
h2 {
    color: #ffffff;
}

.project {

        background: white;
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    


footer {
    text-align: center;
    padding: 10px 0;
    background: #007BFF;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(21, 50, 67); /* Light background */
    color: #000000; /* Dark text color */
    margin: 0;
    padding: 20px;
}
button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2e8b57;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #45a049;
}